<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966491289962-jff3nphva7cvs26dieqd44hq43u94qqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966491289962-jff3nphva7cvs26dieqd44hq43u94qqf</string>
	<key>API_KEY</key>
	<string>AIzaSyANgY20iHu6rgUMc3se3K7qV0koFqEfg8U</string>
	<key>GCM_SENDER_ID</key>
	<string>966491289962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rrocha22.logstock</string>
	<key>PROJECT_ID</key>
	<string>logstock-281a7</string>
	<key>STORAGE_BUCKET</key>
	<string>logstock-281a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966491289962:ios:d7cf0228133450b8ad0d13</string>
</dict>
</plist>